/* Grundlegendes Styling */
.aboutme-wrapper {
  font-family: 'Arial', sans-serif;
  padding: 0 20px;
  margin-left: 120px; /* Platz für die Navbar reservieren */
}

.aboutme-section {
  margin-bottom: 50px;
}

.aboutme-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.left-side {
  flex: 1;
}

.left-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}

.left-content p {
  font-size: 1.2em;
  color: #333;
}

.right-side {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-box {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 45%;
}

.info-box h3 {
  margin-bottom: 5px;
  font-size: 1.1em;
  color: #333;
}
