@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 1000;
  padding: 10px 20px;
  box-sizing: border-box;
}

.projects-container {
  padding: 40px 20px;
  margin-left: 120px;
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 8px;
}

.projects-container h1.project-title {
  margin-bottom: 3%;
  color: #333;
  font-size: 4.5rem;
  padding-top: 8px;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
