/* Grundlegende Stile für den gesamten Body */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Weißer Hintergrund für die Seiten */
  color: #000000; /* Textfarbe */
}

/* Stile für die Header-Navigation */
header {
  background-color: #292a2b; /* Hintergrundfarbe der Navbar */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  width: 25%;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  display: inline-block;
  transition: color 0.3s linear;
}

.nav-link:hover,
.nav-link.active {
  color: #fff; /* Farbe der aktiven oder hoverbaren Links */
}

/* Stil für die 'active' Links mit Pseudoelement */
.nav-link::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -4px; /* Offset des Bulbs um es zu zentrieren */
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.610, 0.000, 0.405, 1.630);
}

.nav-link.active::after {
  transform: scale(1); /* Skaliert das Pseudoelement wenn aktiv */
}

/* Hauptbereich der App */
main {
  padding: 20px;
}
/* Globale Skalierung für die gesamte React App */
html, body, #root {
  transform: scale(0.8); /* Skaliert die Seite auf 80% */
  transform-origin: top left; /* Skalierung beginnt in der oberen linken Ecke */
  width: 125%; /* Stellt sicher, dass die Seite die volle Breite einnimmt */
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
}
